<nav class="site-nav">
  <div class="inner">
    <a class="nav-link {{#if pageHome}}active{{/if}}"     href="/home">DIỄN ĐÀN</a>
    <a class="nav-link {{#if pageForum}}active{{/if}}"    href="/forum">HỖ TRỢ</a>
    <a class="nav-link" href="#">TOP NHÀ CÁI</a>
    <a class="nav-link {{#if pageTools}}active{{/if}}"    href="/tools">TẠO DÀN SỐ</a>
    <a class="nav-link" href="/du-doan">DỰ ĐOÁN <span class="nav-badge hot">HOT</span></a>
    <a class="nav-link" href="#">KÊNH YOUTUBE</a>
    <a class="nav-link {{#if pageKqxs}}active{{/if}}"     href="/kqxs">XS247</a>
    <a class="nav-link {{#if pageCaoThu}}active{{/if}}"   href="/cao-thu">BẢN TIN CAO THỦ</a>
    <a class="nav-link" href="#">TOOL CASINO</a>
    <a class="nav-link {{#if pageChat}}active{{/if}}"     href="/chat">CHAT <span class="nav-badge">LIVE</span></a>
{{#if user}}
<a class="nav-link" href="/create-post" style="background:var(--gold);color:#fff;margin-left:auto;">✍️ĐĂNG BÀI</a>
{{/if}}
  </div>
</nav>
