<div class="topbar">
  Chào mừng đến <strong>GMSH Diễn Đàn</strong> &nbsp;|&nbsp;
  <a href="/home">Trang chủ</a> &nbsp;|&nbsp;
  <a href="/forum">Diễn đàn</a> &nbsp;|&nbsp;
  <a href="/kqxs">KQXS Live</a>
</div>
